body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 18px;
    background: #252932;
}
.top-container {
    width: 100%;
    height: 60px;
    background: #f56f6c;
}
#toggle {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    -webkit-appearance: none;
    box-sizing: none;
}
#toggle:focus {
    outline: none;
}
#toggle:hover {
    cursor: pointer;
}
#toggle img {
    height: 45px;
    width: 45px;
}
#menu {
    width: 100%;
    height: 50px;
    background-color: #195162;
    color: #fff;
}
#menu ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    height: 50px;
    padding-left: 0;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#menu ul li {
    display: inline-block;
    width: 25%;
    height: 50px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: initial;
}
#menu ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    width: 100%;
    height: 50px;
}
.open {
    transition: /*property*/all/*duration*/ 1s;
    -webkit-transition: all ease-in 1s;
    -moz-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.closed {
    transition: /*property*/all/*duration*/ 1s;
    -webkit-transition: all ease-in 1s;
    -moz-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.item {
    background: #fff;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
}
.item-header, .item-content {
    padding: 10px;
}
.item-header {
    border-bottom: 1px solid #252932;
}
.item-content {
    letter-spacing: .07m;
}
blockquote {
    background: #f0f0f0;
    color: #494949;
    letter-spacing: .1em;
    font-family: monospace;
    font-size: 20px;
}
blockquote p {
    width: 50%;
}